
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `driving_licences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driving_licences` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `licence_number` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nic` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `surname` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `other_names` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_name_on_card` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gender` enum('MALE','FEMALE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date NOT NULL,
  `blood_group` enum('A+','A-','B+','B-','AB+','AB-','O+','O-') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `height_ft` tinyint unsigned DEFAULT NULL,
  `height_inches` tinyint unsigned DEFAULT NULL,
  `permanent_address` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `organ_donor` tinyint(1) NOT NULL DEFAULT '0',
  `driver_restrictions` enum('NONE','CORRECTIVE_LENSES','ARTIFICIAL_LIMB') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NONE',
  `photo_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signature_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nic` (`nic`),
  UNIQUE KEY `licence_number` (`licence_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `driving_licences` WRITE;
/*!40000 ALTER TABLE `driving_licences` DISABLE KEYS */;
/*!40000 ALTER TABLE `driving_licences` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `emission_certificates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emission_certificates` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `testing_center` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `result` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `co_value` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hc_value` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vehicle_id` (`vehicle_id`),
  CONSTRAINT `emission_certificates_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle_registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `emission_certificates` WRITE;
/*!40000 ALTER TABLE `emission_certificates` DISABLE KEYS */;
/*!40000 ALTER TABLE `emission_certificates` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `insurance_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insurance_policies` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `policy_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `underwriter` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `policy_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `premium` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vehicle_id` (`vehicle_id`),
  CONSTRAINT `insurance_policies_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle_registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `insurance_policies` WRITE;
/*!40000 ALTER TABLE `insurance_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `insurance_policies` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `licence_vehicle_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licence_vehicle_classes` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nic` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `class_code` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issued_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_licence_class` (`nic`,`class_code`),
  KEY `class_code` (`class_code`),
  CONSTRAINT `licence_vehicle_classes_ibfk_1` FOREIGN KEY (`nic`) REFERENCES `driving_licences` (`nic`) ON DELETE CASCADE,
  CONSTRAINT `licence_vehicle_classes_ibfk_2` FOREIGN KEY (`class_code`) REFERENCES `vehicle_class_definitions` (`class_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `licence_vehicle_classes` WRITE;
/*!40000 ALTER TABLE `licence_vehicle_classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `licence_vehicle_classes` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `revenue_licenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `revenue_licenses` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `license_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `authority` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fee` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vehicle_id` (`vehicle_id`),
  CONSTRAINT `revenue_licenses_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle_registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `revenue_licenses` WRITE;
/*!40000 ALTER TABLE `revenue_licenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `revenue_licenses` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `vehicle_class_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_class_definitions` (
  `class_code` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `min_age` tinyint unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`class_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `vehicle_class_definitions` WRITE;
/*!40000 ALTER TABLE `vehicle_class_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_class_definitions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `vehicle_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_registrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plate_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doc_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` date NOT NULL,
  `expiry_date` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Permanent',
  `authority` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chassis_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `engine_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fuel_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_class` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner_nic` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `plate_number` (`plate_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `vehicle_registrations` WRITE;
/*!40000 ALTER TABLE `vehicle_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_registrations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

